@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  position: relative;
  min-height: 100vh;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.arrow{
  transition: .3s ease;
}

.link{
  cursor: pointer;
}

.link:hover .arrow{
  transform: rotate(180deg);
}

.menu{
  visibility: hidden;
  opacity: 0;
  top: 100%;
  transform: translateY(30px);
  transition: .3s ease;
}

.dropdown:hover .menu{
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.testBg{
  background: rgba(0, 0, 0, 0.5);
  transition: .3s ease;
}

.swiper{
  overflow: hidden;
  padding-bottom: 2rem !important;
  padding-inline: .8rem !important;
}

.swiper-wrapper{
  display: flex !important;
}

.swiper-slide{
  display: flex !important;
  justify-content: center;
}

.swiper-button-disabled{
  background-color: #EFEFEF;
  transition: .2s ease-in-out;
}